<br>
<br>
<h2 id="academic-partners">Academic Partners</h2>
<br>

<div class="partners-grid">
  <div class="partner-row">
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/epfl_logo.png" alt="EPFL, Lausanne" class="epfl-logo">
    </div>
    <div class="partner-name">
      <a href="https://people.epfl.ch/alexandre.alahi">Alexandre Alahi</a>
    </div>
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/ctu_logo.png" alt="CTU, Prague">
    </div>
    <div class="partner-name">
      <a href="https://www.di.ens.fr/~josef/">Josef Sivic</a>
    </div>
  </div>
  <div class="partner-row">
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/enpc.png" alt="ENPC, Paris" class="enpc-logo">
    </div>
    <div class="partner-name">
      <div class="group">
        <a href="https://imagine.enpc.fr/~marletr/">Renaud Marlet</a>
        <a href="https://davidpicard.github.io/">David Picard</a>
        <a href="https://vincentlepetit.github.io/">Vincent Lepetit</a>
      </div>
    </div>
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/sorbonne_logo.png" alt="Sorbonne, Paris">
    </div>
    <div class="partner-name">
      <div class="group">
        <a href="http://www-poleia.lip6.fr/~cord/">Matthieu Cord</a>
        <a href="https://thome.isir.upmc.fr/">Nicolas Thome</a>
      </div>
    </div>
  </div>
  <div class="partner-row">
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/inria_logo.png" alt="Inria Paris">
    </div>
    <div class="partner-name">
      <a href="https://team.inria.fr/rits/membres/raoul-de-charette/">Raoul de Charette</a>
    </div>
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/ubs_logo.png" alt="UBS, Vannes" class="ubs-logo">
    </div>
    <div class="partner-name">
      <a href="https://people.irisa.fr/Nicolas.Courty/">Nicolas Courty</a>
    </div>
  </div>
  <div class="partner-row">
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/uga_logo.png" alt="Université Grenoble Alpes">
    </div>
    <div class="partner-name">
      <a href="https://ama.liglab.fr/~gaussier/">Eric Gaussier</a>
    </div>
    <div class="partner-logo">
      <img src="{{ site.baseurl }}/assets/img/logo/telecom_logo.png" alt="Télécom, Paris">
    </div>
    <div class="partner-name">
      <div class="group">
        <a href="https://scholar.google.com/citations?user=xn70tPIAAAAJ&hl=en">Gaël Richard</a>
        <a href="https://perso.telecom-paristech.fr/essid/">Slim Essid</a>
        <a href="https://matfontaine.github.io/">Mathieu Fontaine</a>
      </div>
    </div>
  </div>
</div>

