<a class="Box" href="{{ post.url | relative_url }}">
  {%- if post.image -%}
  <div class="post-card-thumb">
    <img class="preview" src="{{ post.image | relative_url }}" alt="{{ post.title | escape }}" loading="lazy">
  </div>
  {%- endif -%}
  <div class="post-card-body">
    <h3 class="title">{{ post.title | escape }}</h3>
    {%- if post.description and post.description != "" -%}
    <p class="post-meta-description">{{ post.description }}</p>
    {%- endif -%}
    <p class="post-meta">{{ post.date | date: date_format }}</p>
  </div>
</a>
