<div class="Box">
    {%- if post.image -%}
    <div class="col-md-4">
        <img class="preview " src="{{ post.image | relative_url }}" />
      </div>
    {%- endif -%}
    <div class="col-md-8">
        <h3>
          <a class="title" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta-description">{{ post.description }}</p>
          <p class="post-meta">{{ post.date | date: date_format }}</p>
      </div>
  </div>