/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// Typography

p, h1, h2, h3, h4, h5, h6, em, div, li, span, strong {
  color: var(--global-text-color);
  text-align: justify;
}

hr {
  border-top: 1px solid var(--global-divider-color);
}

table {
  td, th {
    color: var(--global-text-color);
  }
  td {
    font-size: 1rem;
  }
}

a, table.table a {
  color: var(--global-theme-color);
  &:hover {
    color: var(--global-theme-color);
    text-decoration: underline;
  }
  &:hover:after :not(.nav-item.dropdown) {
    width: 100%;
  }
}

figure, img {
  max-width: 90vw;
}

blockquote {
  background: var(--global-bg-color);
  border-left: 2px solid var(--global-theme-color);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-size: 1.2rem;
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

// Card

.card {
  background-color: var(--global-card-bg-color);

  img {
    width: 100%;
  }

  .card-title {
    color: var(--global-text-color);
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

// Citation

.citation, .citation-number {
  color: var(--global-theme-color);
}

// Profile

.profile {
  width: 100%;

  .address {
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: monospace;
    p {
      display: inline-block;
      margin: 0;
    }
  }
  .imgdate {
    margin-top: -3em;
    height: 3em;
    padding: 0.2em;
    color: white;
    font-weight: bold;
    text-align: right;
    width: 100%;
    font-size: 12px;
  }
}
.profile.align-center{
  margin-left: auto;
  margin-right: auto;
}
.profile.float-right{
  margin-left: 1rem;
}
.profile.float-left{
  margin-right: 1rem;
}

.team-description{
    font-size: 1.2rem;
    // width: 80%;
    margin: auto;
    text-align: justify;
}

@media (min-width: 576px) {
  .profile {
    // width: 80%;
    .address {
      p { display: block; }
    }
  }
}

.post-description {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  a {
    color: inherit;
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

// Research
.research {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 3em;

  h2 {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.25em;
  }
  .axes {
    display: flex;
    font-size: 1.2rem;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    article {
      width: 25%;
      text-align: justify;
      font-weight: bold;
      overflow-wrap: break-word;
      min-width: 90px;
      hyphens: auto;
      .title {
        text-align: center;
      }
      img {
        width: 100%;
        border-radius: 50%;
        border: 3px solid var(--global-text-color);
        aspect-ratio: 1;
        background-color: var(--global-bg-color);
      }
    }
  }
}


// Navbar customization

.navbar {
  box-shadow: none;
  border-bottom: 1px solid var(--global-divider-color);
  background-color: var(--global-bg-color);
  opacity: 0.95;
}
.navbar .dropdown-menu {
  background-color: var(--global-bg-color);
  border: 1px solid var(--global-divider-color);
  a:not(.active) {
    color: var(--global-text-color);
  }
  a:hover {
    color: var(--global-hover-color);
  }
  .dropdown-divider {
    border-top: 1px solid var(--global-divider-color) !important;
  }
}
.dropdown-item {
  color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
      background-color: var(--global-bg-color);
    }
}
.navbar.navbar-light {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-brand {
    color: var(--global-text-color);
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--global-text-color);
    &:hover {
      color: var(--global-hover-color);
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      font-weight: bolder;
      color: var(--global-theme-color);
      &:hover {
        color: var(--global-hover-color);
      }
  }
  .navbar-brand.social {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1.7rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: var(--global-text-color);
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}

#light-toggle {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: var(--global-text-color);
  &:hover {
    color: var(--global-hover-color);
  }
}

// Social (bottom)

.social {
  text-align: center;
  .contact-icons {
    font-size: 4rem;
    a {
      i::before {
        color: var(--global-text-color);
        transition-property: all 0.2s ease-in-out;
      }
      &:hover {
        i::before {
          color: var(--global-theme-color);
        }
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;
  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
  }
  a {
    color: var(--global-footer-link-color);
    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid var(--global-divider-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.9rem;
  .container {
    text-align: center;
  }
}

// CV

.cv {
  margin-bottom: 40px;
  
  .card {
    background-color: var(--global-card-bg-color);
    border: 1px solid var(--global-divider-color);
    
    .list-group-item {
      background-color: inherit;

      .badge {
        color: var(--global-card-bg-color) !important;
        background-color: var(--global-theme-color) !important;
      }
    }
  }
}

// Repositories

@media (min-width: 768px) {
  .repo {
    max-width: 50%;
  }
}

// Blog

.header-bar {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 5rem;
  }
}

.tag-list {
  border-bottom: 1px solid var(--global-divider-color);
  text-align: center;
  padding-top: 1rem;

  ul {
    justify-content: center;
    display: flow-root;

    p, li {
      list-style: none;
      display: inline-block;
      padding: 1rem 0.5rem;
      color: var(--global-text-color-light);
    }
  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid var(--global-divider-color);
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    .post-tags {
      color: var(--global-text-color-light);
      font-size: 0.875rem;
      padding-top: 0.25rem;
      padding-bottom: 0;
    }
    a {
      color: var(--global-text-color);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
}

.pagination {
  .page-item {
    .page-link {
      color: var(--global-text-color);
      &:hover {
        color: $black-color;
      }
    }
    &.active .page-link {
      color: $white-color;
      background-color: var(--global-theme-color);
      &:hover {
        background-color: var(--global-theme-color);
      }
    }
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: var(--global-theme-color);
    text-decoration: none;
  }
}


// Team

article>.team {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  a {
    text-decoration: none;

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }
  .member {
    width: 20%;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 15px;
    min-width: 80px;

    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      aspect-ratio: 1;
      overflow-clip-margin: unset;
    }

    // Reflection code made by Vincent Durand
    .reflection-container{
      position:relative;
      display:inline-block;
      vertical-align:middle;
      transform-style: preserve-3d;
      perspective: 1000px;
      width: 100%;
      aspect-ratio: 1;
      .reflection-content{
        height: 100%;
        width: 100%;
        border-radius: 50%;
        background-color:#000;
        background-size:cover;
        background-position:center;
        transform:rotateX(0) rotateY(0);
        pointer-events:none;
        transition:100ms linear transform;
        overflow:hidden;
        &:before{
          content:'';
          position:absolute;
          width:200%;
          height:200%;
          left:-50%;
          top:-50%;
          background: linear-gradient(rgba(255,255,255,0.2),rgba(0,0,0,0.2));
        }
      }
      .reflection-grid-cell{
        position:absolute;
        z-index: 1;
        width:10%;
        height:10%;
      }
      @for $r from 1 to 11{ 
        @for $c from 1 to 11 {
          .reflection-grid-cell-#{( ($r*10) + $c - 10)}{
            top:($r*10%)-10%;
            left:($c*10%)-10%;
          }
          .reflection-grid-cell-#{( ($r*10) + $c - 10)}:hover ~ .reflection-content{
            transform:rotateX((($r*-5)+25deg)) rotateY((-25deg+($c*5)));
            &:before{
              transform:translateY(25-(5%*$r));
            }
          }
        }
      }
    }
  }
}
article>h2.alumni {
  margin-top: 5em;
}
article>.team.alumni {
  justify-content: left;
  display: block;
  .member {
    width: 100%;
    // min-width: 60px;
  }
}

// Projects

.projects {
  a {
    text-decoration: none;
    color: var(--global-text-color);

    &:hover {
      .card-title {
        color: var(--global-theme-color);
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }

  .card-item {
    width: auto;
    margin-bottom: 10px;

    .row {
      display: flex;
      align-items: center;
    }
  }

  .grid-sizer, .grid-item {
    width: 250px;
    margin-bottom: 10px;
  }

  h2.category {
    color: var(--global-divider-color);
    border-bottom: 1px solid var(--global-divider-color);
    padding-top: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-align: right;
  }
}


// Projects_list

.projects_list {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.projects {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .row {
        align-items: center;
      }

      .col-md-4 {
        display: flex;
        justify-content: center; /* Optional: to center horizontally as well */
      }
      
      .preview {
        width: 100%;
        min-width: 80px;
        max-width: 200px;
        height: auto;
      }
      .title {
        font-weight: bolder;
      }
      .title a {
        color: var(--global-text-color);
      }
      .description {
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
    }
  }
}


.project {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.projects {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .row {
        align-items: center;
      }

      .col-md-4 {
        display: flex;
        justify-content: center; /* Optional: to center horizontally as well */
      }
      
      .preview {
        width: 100%;
        min-width: 80px;
        max-width: 200px;
        height: auto;
      }
      .title {
        font-weight: bolder;
      }
      .title a {
        color: var(--global-text-color);
      }
      .description {
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
    }
  }
}


.publication {
  h1 {
    text-align: left;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
    
}

// Publications

.publications {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .row {
        align-items: center;
      }
      .preview {
        width: 100%;
        min-width: 80px;
        // max-width: 200px;
      }
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;
          a {
            color: white;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }
      .title {
        font-weight: bolder;
        text-align: left;
      }
      .title a {
        color: var(--global-text-color);
      }
      .award {
        margin-left: 1em;
        padding: 0.1em;
        color: $red-color-dark !important;
        border: 1px solid $red-color-dark;
      }
      .author {
        a.team {
          border-bottom: 1px dashed var(--global-theme-color);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        a:not(.team) {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
        > span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;
          &:hover {
              color: var(--global-text-color);
              border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }
      .links {
        a.btn {
          color: var(--global-text-color);
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }
      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }
}

// Rouge Color Customization
figure.highlight {
  margin: 0 0 1rem;
}

pre {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 6px;
  padding: 6px 12px;
  pre, code {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
}

code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
  border-radius: 3px;
  padding: 3px 3px;
}


// Transitioning Themes
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

// Extra Markdown style (post Customization)
.post{
  h1 {
    text-align: left;
  }
  .post-meta{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    margin-bottom: 0;
  }
  .post-tags{
    color: var(--global-text-color-light);
    font-size: 0.875rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;
    a {
      color: var(--global-text-color-light);
      text-decoration: none;
      &:hover {
        color: var(--global-theme-color);
      }
    }
  }
  .post-content{
    blockquote {
      border-left: 5px solid var(--global-theme-color);
      padding: 8px;
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    ol.bibliography {
      margin-top: 0;
  
      li {
        margin-bottom: 1rem;
        .row {
          align-items: center;
          display: block;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.posts_list {
  margin-top: 2rem;
  h1 {
    color: var(--global-theme-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h2 {
    margin-bottom: 1rem;
    span {
      font-size: 1.5rem;
    }
  }
  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.posts-list {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .Box {
        background-color: var(--bgColor-default, var(--color-canvas-default));
        border-color: var(--borderColor-default, var(--color-border-default));
        border-radius: var(--borderRadius-medium, 0.375rem);
        border-style: solid;
        border-width: var(--borderWidth-thin, max(1px, 0.0625rem));
        display: flex;
      }

      .col-md-4 {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .col-md-8 {
        padding-top: 15px;
        .title {
          // font-weight: bolder;
          text-align: left;
          color: var(--global-text-color);
        }
      }
      
      .preview {
        max-width: 100%;
        height: auto;
      }
      .title {
        font-weight: bolder;
      }
      .title a {
        color: var(--global-text-color);
      }
      .description {
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
    }
  }
}