---
---
<!-- _layouts/bib.html -->
      <div class="row">
        {% if entry.type == "thesis" -%}
          {{reference}}
        {%- else %}
          {%- for author in entry.author_array -%}
            {%- assign author_is_self = false -%}
            {%- assign author_last_name = author.last | remove: "¶" | remove: "&" | remove: "*" | remove: "†" | remove: "^" -%}
            {%- if author.prefix != "" -%}
              {%- assign author_last_name = author_last_name | prepend: " " | prepend: author.prefix -%}
            {%- endif -%}
            {%- if forloop.length > 1 -%}
              {%- if forloop.first == false -%},&nbsp;{%- endif -%}
              {%- if forloop.last -%}and&nbsp;{%- endif -%}
            {%- endif -%}
              {{author.first}} {{author_last_name}}
          {%- endfor -%}
          .&nbsp;
          {{entry.title}}.&nbsp;
          {% assign proceedings = "inproceedings, incollection" | split: ','%}
          {% if entry.type == "article" -%}
            <em>{{entry.journal}}</em>,&nbsp;
          {%- elsif proceedings contains entry.type -%}
            <em>In {{entry.booktitle}}</em>,&nbsp;
          {%- endif -%}
          {%- if entry.month -%}
            {{ entry.month | capitalize }}&nbsp;
          {%- endif -%}
          {%- if entry.year -%}
            {{entry.year}}.
          {%- endif -%}
        {%- endif %}

      </div>
