{% assign member =  include.member %}

{%- assign full_name = member[1].firstname | append: " " | append: member[0] -%}
{%- assign axes = " " -%}
{%- for axis in member[1].axes -%}
  {%- assign axes = axes | append: " " | append: "axis-" | append: axis -%}
{%- endfor -%}

<div class="member {{member[1].position}}">
  <a href="{{ member[1].url }}" target="_blank">{{ full_name }}</a> - {% if member[1].phd_position %}{{ member[1].phd_position }}{% else %}{{ member[1].position }}{% endif %}
  - Defense member[1].phd_defense 
  {% if member[1].alumni_now != "" and member[1].alumni_now != nil %}
    - {{member[1].alumni_now}} 
  {% endif %}
</div>
